/* Local Source Code Pro (Latin) */
@font-face {
  font-family: 'Source Code Pro';
  src: url('/static/fonts/source-code-pro-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('/static/fonts/source-code-pro-latin-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
